:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  margin: 0;
}

.li {
  list-style-type: none;
}

.tab_btn {
  background: transparent;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  outline: none;
}

.active-tab {
  border-bottom: 1px solid #fec653;
  color: #fec653;
}
